.container{
   display: inline-block;
}
#setform{
    margin: 3px;
}
.nav{
    color: white;
    font-size: 16px;
    display: inline;
    text-decoration: none;
}
#navbar{
    display: inline;
}
.dropdown-menu li{
  cursor: pointer;
}
.nav-link{
  cursor: pointer;
  margin-left: 4px;
}
