.thumbnail{
  width: 100px;
  height: 100px;
  margin-top: 0.5em;
  margin-bottom: 0;


}
.setButton button{
 margin-left: .5em;

}
.nv-file-over { border: dotted 3px red; }
input[type=file]{
  color: transparent;
  width: 75%;
  cursor: pointer !important;

  padding: 1px;
}

.addfile{
  margin-top: 1em;
}
.well{
  padding: .5em;
}
.well:hover{
  background-color: rgba(116, 35, 35, 0.3);
}
.btn-s{
  margin: 0.5em;
  font-size: medium;
}
