<div class="container">
  <div class="text-center mt-3">
<h3> Your matches -{{pagination.totalPage}} found </h3>
  </div>
  <form (ngSubmit)="loadUser()" #form="ngForm" class="form-inline " novalidate>
     <div class="form-group">
      <label for="minAge">Age From:</label>
      <input type="number"  id="minAge"class="form-control" name="minAge"[(ngModel)]="userParams.minAge">
     </div>
     <div class="form-group">
      <label for="maxAge">Age To:</label>
      <input type="number"  id="maxAge"class="form-control" name="maxAge" [(ngModel)]="userParams.maxAge">
     </div>
     <div class="form-group">
      <label for="gender">Show:</label>
      <select name="gender" id="gender" class="form-control" [(ngModel)]="userParams.gender">
   <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
     </div>
     <button type="submit" class="btn btn-primary">Apply Filters</button>
     <button type="button" class="btn btn-info" (click)="resetFilter()">Reset Filters</button>

     <div class="pull-right">
      <div class="btn-group">
        <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUser()" btnRadio="lastActive">LastActive</button>
        <button type="button" name="orderBy" class="btn btn-info" [(ngModel)]="userParams.orderBy" (click)="loadUser()" btnRadio="created">Newest Members</button>
        <!-- <label class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUser() "
             value="lastActive" btnRadio="lastActive" name="orderBy" role="button">Last Active</label>
        <label class="btn btn-primary" [(ngModel)]="userParams.oderBy" (click)="loadUser()"
            value="created"   btnRadio="created" name="orderBy" role="button">Newest Members</label> -->

      </div>
     </div>
  </form>
  <div class="row" >
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6 m-4">
     <app-members-card [user]="user"></app-members-card>
    </div>
  </div>

<div class="text-center">

  <pagination [boundaryLinks]="true"
  [totalItems]="pagination.totalPage"
  [itemsPerPage]="pagination.itemPerPage"
  (pageChanged)="pageChanged($event)"
  [(ngModel)]="pagination.currentPage"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>

</div>


