<div  class=" text-center">
  <h1 class="card-header">
    Find Your Match!
  </h1>
  <div class="match">
    <p class="card-text">Come on to view your match... All you need to do just signin here...</p>
    <a [routerLink]="['/register']" (click)="registerToggle()" class="btn btn-primary">Register</a>
    <a href="#" class="btn btn-primary  " style="margin-left: 3px;">Learn More</a>
  </div>

  <div *ngIf="registerMode" class="container text-center" style="width: 45%;">
<div >
  <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
</div>
  </div>
</div>
